.photo {
    background-color: white;
    padding: 80px;
}

.photo h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.photo div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.accueil-introductions {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-start;
    margin: auto;
}

.accueil-introductions h1 {
    margin-bottom: 15px;
}

.accueil-introductions p {
    margin-bottom: 30px;
}

.accueil-introductions div{
    padding-right: 80px;
}

.cover{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px  
}

.section-contact h2{
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    color: white;
}

input,
textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

label {
    margin-bottom: 10px;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}